
@import 'tailwindcss';


/* html, body, #root {
  margin: -140;
  padding: 0;
  height: 100%;
} */

/* 
html, body {
  margin: 0;
  padding: 0;
} */


#root{
  background-image: url("delicious-chocolate-arrangement-copy-space.jpg");
}